$primary: #731963;
$secondary: #f0e100;
$grey: #cbd2d0;
$black: #000000;
$white: #fffdfd;
$green: #0b3c49;
$deep-green: #002626;
$orange: #BA2D0B;

$colors-list: (
  "primary": $primary,
  "secondary": $secondary,
  "grey": $grey,
  "black": $black,
  "white": $white,
  "green": $green,
  "deep-green": $deep-green,
  "orange": $orange,
);
